<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Bienvenue !</h1>
  <h3>
    Ici, tu auras la réponse à l'existence des licornes !
  </h3>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Login !", login_path, class: "btn btn-lg btn-primary" %>

</div>
