<section class="footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6"><center>A changing secret</center></div>
      <div class="col-3 right"> Best webwite ever </div>
    </div>
  </div>
</section>
